/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 60%;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1200px;
}

/* Header styling */

#top-nav{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    padding-right: 3%;
    margin-bottom: 2%;
   
}

#top-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#top-nav a:hover{
    color: rgb(148, 19, 19);
}

#top-img{
    width:100%;
    margin-bottom:2%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content .about-container {
    width: 95%;
    padding: 0 1%;
    padding-bottom: 20px;
}

/* Middle Section Styling */

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

/* This worked better than using the .boxes class */
.box-one, .box-two, .box-three, .box-four, .box-five, .box-six, .box-seven
, .box-eight, .box-nine, .box-ten {
    width: 100px;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* background colors for index.html boxes */
.box-one{
    background-color: teal;
}
.box-two{
    background-color: gold;
}
.box-three{
    background-color: cadetblue;
}
.box-four{
    background-color: coral;
}
.box-five{
    background-color: crimson;
}
.box-six{
    background-color: forestgreen;
}
.box-seven{
    background-color: darkorchid;
}
.box-eight{
    background-color: hotpink;
}
.box-nine{
    background-color: indigo;
}
.box-ten{
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin:  2% 20px;
    margin-bottom: 4%;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}


/*
Didn't end up using this but could be refactored
.boxes{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}
*/



/* footer styling */



footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-shrink:0;
    font-size: 14px;
}

footer nav a {
    width: 125px;
    padding: 20px;
    margin-left:7px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 350;
}

footer nav a:hover{
    position: static;
    transition: 0.35s;
    transform: translateY(-5px);
    background:  #bb1333;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

/**********************/
/* about.html styling */
/* ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ */
/**********************/


/* Flex styling for the image properties that are in the middle of the page*/

.main-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width:100%;
}

/* Styles the boxes around image and text as a column for layout */

.content-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 8;
    min-width:100px;
    max-width:320px;
    margin: 1% 0;
    padding: 0.5%;
}

.content-box .img-container{
    width:100%;
}

.content-box .img-container img{
    width:100%;
}

/* Styles and layout for the text and link elements in the content-boxes using flex */

.content-box .content-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px dashed black;
}

.content-txt h2{
    margin-top: 1%;
    font-weight: bold;
}

.content-txt p{
    margin: 2% 0%;
}
.content-txt a{
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1% 2%;
    margin: 4% 0;
    text-decoration: none;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    
}
.content-txt a:hover{
    transition: 0.5s;
    background-color: #bb1333;
    color: white;
}

.bottom-wrapper h2{
    margin: 2.5% 0;
}
    
.bottom-wrapper p{
    margin-bottom: 2.5%;
}